// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$translucentwhite: rgba(256,256,256,0.8);
$border: 1px solid rgba(155,154,155,0.30);
$accent: #007AFF;
$like-pink: #FD7799;
$share-blue: #00A9F6;
$comment-green: #8BC24A;
$shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
$darkaccent: #003C7D;
$postgrey: #4A4A4A;

.post-container {
  margin-top: 24px;
}

.form-area {
  height: 140px;
  padding: 24px 32px;
  background-color: white;
  border-radius: 20px;
  border: $border;
  margin-bottom: 24px;
}
.post-form-area {
  width: 100%;
  border: none;
  height: 64px;
  overflow: hidden;
}

input[type=submit] {
  background-color: $accent;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 4px;
  width: 80px;
  float: right;
}

input[type=submit]:hover {
  background-color: $darkaccent;
}

i {
  color: $accent;
  margin-right: 16px;
}

i:hover {
  color: $darkaccent;
}

.less-opacity {
  opacity: 0.7;
}

.post {
  padding: 24px;
  margin: 8px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: $shadow;
  opacity: 0.9;
}

.post-top-container {
  overflow: hidden;
}
.post-name {
  font-size: 16px;
  color: $accent;
  margin: 0;
  display: inline-block;
}

.hours-ago {
  font-size: 14px;
  color: $postgrey;
  opacity: 0.8;
}

.post-content {
  font-size: 14px;
  color: $postgrey;
  opacity: 0.8;
  margin: 24px 0;
}

.post-user-photo {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: inline-block;
}

.post-user-info {
  display: inline-block;
  margin-left: 8px;
}

.post-photo {
  border-radius: 2px;
  margin-bottom: 16px;
}

.action-icon {
  float: left;
  margin-right: 8px;
  display: inline-block;
}

.respond-icon-text {
  line-height: 28px;
  margin: 0;
  margin-right: 16px;
  color: $accent;
  display: inline-block;
}

.respond-icon-text:hover {
  color: $darkaccent;
}

.respond-bar {
  margin-top: 8px;
  line-height: 28px;
  overflow: hidden;
}

.action-container {
  display: inline-block;
}
// #heart-container, #message-container, #share-container {
//   overflow: hidden;
//   display: inline-block;
//   float: left;
// }

.like {
  color: $like-pink;
}

.comment {
  color: $comment-green;
}
.share {
  color: $share-blue;
}
